body{
    background-color: yellowgreen;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.quote-box{
    width: 45%;
    height: 45%;
    margin:0em 10em 0em 10em;
    background-color: aquamarine;
}